@import "@my-moment/ui/styles";

@layer base {
  html,
  body {
    min-width: 320px;
    margin: 0;
    overflow-x: hidden;
  }

  /* Hide scrollbars uniformly */
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}
